body
{
  background-color: #c0c0c0 ;
  font-size: 16px;
  margin:0px 0px;
  padding:0px 0px;
}

.banner
{
  width: 100%;
  display: block;
}

.container {
  position: relative;
  margin: 0 auto; /* Center it */
  text-align: center;
  color: white;
  font-family: "Verdana"
}

.container .content {
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navbar
{
  width: 100%;
  position: -webkit-sticky;  /*Safari*/
  position: sticky;
  top:0px;
}

ul
{
  width: inherit;
  list-style-type: none;
  margin:0px 0px;
  padding:0px 0px;
  background-color: #333;
  overflow: hidden;

}

li
{
  display: block;
    background-color: #333;
  float:left;

}

li a
{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active)
{
  background-color: #111;
}

.active
{
  background-color: #FF8000;
}
#map
{
  width: 500px;
  height: 500px;
}
